/*--------------------------------------------*/
/*---> GLOBALS <------------------------------*/
/*--------------------------------------------*/

@mainColor: orange;
@mainDark: darken(@mainColor, 10%);
@mainLight: lighten(@mainColor, 10%);

@textSize: 5vh;

@headFont: 'Alfa Slab One', sans-serif;
@bodyFont: 'Source Sans Pro', sans-serif;

/*--------------------------------------------*/
/*---> STRUCTURE <----------------------------*/
/*--------------------------------------------*/

html{
	color: white;
	background: lighten(black, 5%) url('img/citymazediagonaltrans.png');
	background-size: 50vh;
}

footer{
	@footerHeight: 15vh;
	position: fixed;
	bottom: 0;
	left: 0;
	height: @footerHeight;
	width: 100vw;
	background: url('img/ceocitybannercolor.png');
	background-size: auto @footerHeight;
	background-repeat: no-repeat;
	background-position: left bottom;
	z-index: 100;
}

/*--------------------------------------------*/
/*---> TEXT <---------------------------------*/
/*--------------------------------------------*/

h1, h2, h3, h4, h5, h6, p, ul, li{
	font-family: @bodyFont;
	font-size: @textSize;
}

h1, h2, h3, h4, h5, h6{
	font-family: @headFont;
}

h1{
	font-size: 1.5 * @textSize;
}

h2{
	font-size: 1.35 * @textSize;
}

h3{
	font-size: 1.15 * @textSize;
}

h1.title{
	font-family: @headFont;
	text-align: center;
	margin: @textSize auto;
	font-size: 1.75 * @textSize;
	//color: rgba(255, 255, 255, 0.75);
	color: #dc1200;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
}

/*--------------------------------------------*/
/*---> FORMS <--------------------------------*/
/*--------------------------------------------*/